@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 94%);
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

section {
  @media only screen and (min-width: 800px) {
    width: 90%;
  }

  @media only screen and (min-width: 1024px) {
    width: 90%;
  }

  @media only screen and (min-width: 1440px) {
    width: 50%;
  }

  @media only screen and (min-width: 2560px) {
    width: 35%;
  }

  .card-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em  2em 6em  2em;
    padding: 2em;
    position: relative;
    margin: 1em;
    @media only screen and (min-width: 800px) {
      padding: 4em;
      border-radius: 2em  2em 12em  2em;
    }

    form {
      display: flex;
      gap: 1em;
      @media only screen and (min-width: 800px) {
        width: 75%;
      }
      .input {
        display: grid;
      }

      label {
        font-size: 0.7em;
        text-transform: uppercase;
        color: hsl(0, 1%, 44%);
        letter-spacing: 3px;
        @media only screen and (min-width: 800px) {
          font-size: 1em;
          line-height: 3em;
        }
      }

      input {
        width: 80%;
        font-size: 1.5em;
        border: 1px solid hsl(0, 0%, 86%);
        color: hsl(0, 0%, 8%);
        border-radius: 10px;
        padding: 10px;
        font-weight: 700;
        &::placeholder {
          font-family: 'Poppins', sans-serif;
          color: hsl(0, 1%, 44%);
        }
        @media only screen and (min-width: 800px) {
          font-size: 2em;
          padding: 15px;
        }
      }
      
    }
  }

  .card-button {
    position: relative;
    margin: 4em 0 3em 0;

    hr {
      border-top: 1px solid hsl(0, 0%, 86%);
    }

    .form-button {
      width: 100%;
      display: flex;
      justify-content: center;  
      @media only screen and (min-width: 800px) {
        justify-content: end; 
      }
    }

    button {
      background-color: hsl(259, 100%, 65%);
      outline: 0;
      border: 0;
      border-radius: 50%;
      height: 5em;
      width: 5em;
      position: absolute;
      top: -35px;
      bottom: 0;

      &:hover {
        background-color: hsl(0, 0%, 8%);
        cursor: pointer;
      }

      @media only screen and (min-width: 800px) {
        height: 7em;
        width: 7em;
        top: -46px;
      }

      img {
        width: 50%;
        height:100%;
      }
    }

  }

  .card-body {
    display: block;
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
    line-height: 1.2em;

    @media only screen and (min-width: 800px) {
      font-size: 6em;
    }

    span {
      color: hsl(259, 100%, 65%);
      font-weight: 800;
    }
  }
}

footer {
  padding-top: 1em;
  .attribution {
    color: hsl(0, 1%, 44%);
    font-size: 0.7em;
    text-align: center;
    a {
      color: hsl(259, 100%, 65%);
      text-decoration: none;
      &:hover {
        color: hsl(0, 0%, 8%);
        cursor: pointer;
      }
    }
  }
}
